* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #222;
}
.container {
  border: 5px solid black;
}
.cell {
  padding: 2rem;
  background: lightgrey;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid red;
}
